// - *** service *** - //

@import 'components/debug/debug.styl'
@import 'components/svg/svg.styl'
@import '../../plugins/swiper.styl'

// - *** layout *** //

@import 'components/header/header.styl'
@import 'components/section/section.styl'
@import 'components/footer/footer.styl'



// - *** pages *** //

@import 'components/page-404/page-404.styl'

// - *** components *** //

@import 'components/hero/hero.styl'
@import 'components/partners/partners.styl'
@import 'components/product/product.styl'
@import 'components/news/news.styl'
@import 'components/recomend/recomend.styl'
@import 'components/seo/seo.styl'
@import 'components/clients/clients.styl'
@import 'components/contacts/contacts.styl'