mixinClients()
  .clients
    .clients-title
      text-align center
      span 
        display block
        font-size 40px
    &-grid
      margin-top 70px
      display flex
      justify-content center
      flex-direction column
      margin-bottom 100px
      @media $tablet
        margin-left 37px
      &__row
        display flex
        padding-bottom 85px
        @media $tablet
          flex-wrap wrap
          padding-bottom 0px
        &_item
          text-align center
          width 16%
          @media $tablet
            flex 1 1 36%
          &_img
            width 224px
            height 85px
            text-align center
            margin-bottom 20px
            @media $tablet
              width 100%   
            img 
              object-fit cover
              height 85px
          &_text
            span 
              font-size 14px
              @media $tablet
                font-size 25px
            @media $tablet
              width 366px
              margin-bottom 100px
      &__row:nth-child(2)
          .clients-grid__row_item:nth-child(2)
            .clients-grid__item_text
              span 
                @media $tablet
                  font-size 25px           
mixinClients()