mixin footer(data= {})
  -
    const {
      imgPath = '%=static=%img/content/',
      max = '(max-width: 1023px)'
    }= data;
  footer.footer
    .wrapper
      .content
        .footer-content
          .footer-left
            .footer-left__img
              picture
                source(srcset=`${imgPath}mob/footer.png`, media = max)
                img(src=`${imgPath}footer-logo.png`, alt="footerLogo")
            .footer-left__text
              span.big Столовая.РУ
              span.small Создание оптимальных пищеблоков
              span.whois Сайт разарботан NTI-system
          .footer-right
            span Сайт разарботан NTI-system