mixin news(data={})
  -
    const {
      imgPath = '%=static=%img/content/'
    }= data;
  section.news
    .wrapper
      .wrapper-container
        .content
          .news-title 
            span Новости производителей
          .news-content
            .news-content__left
              .news-content__left-item
                .news-content__left-item_img
                  a(href="#")
                    picture
                      img(src=`${imgPath}news-wardrobe.png`, alt="пекарский шкаф")
                .news-content__left-item_content
                  .news-content__left-item_content_sub
                    span.news-content__left-item_content_sub_name Abat
                    span.news-content__left-item_content_sub_data 22.06.17
                .news-content__left-item_content_title
                  a(href="#").title Новый разборный ротационный пекарский шкаф РПШ-18-8-6МР
                .news-content__left-item_content_text
                  p Новый разборный ротационный пекарский шкаф РПШ-18-8-6МР:  в комплекте тележка-шпилька ТШГ-18 на 18 уровней 600х800 мм вместимость тележки-шпильки - 135 хлебных форм №7 инжекционный тип парообразования разборная конструкция увеличенное стекло двери. Память на 110 программ (до 4-ех этапов в каждой программе) USB-порт. Таймер до 10 ч Регулировка влажности от 0 до 100%.  
                    
                
            .news-content__right
              .news-content__right-item
                a(href='#')
                  img(src=`${imgPath}news-item-1.png`, alt="пекарский шкаф")
                .news-content__right-item_content
                  .news-content__right-item_content_sub
                    span.news-content__right-item_content_sub_name Hicold
                    span.news-content__right-item_content_sub_data 22.06.17
                  .news-content__right-item_content_title
                    a(href='#').title Повышение энергоэффективности туннельных посудомоечных машин МПТ торговой марки Abat 
                  .news-content__right-item_content_description
                    p C целью снижения нагрузки на электрическую сеть и для повышения энергоэффективности изделий с 1 июня 2017 года был изменен алгоритм работы туннельных посудомоечных машин МПТ торговой марки Abat всех моделей... 
              .news-content__right-item
                a(href='#')
                  img(src=`${imgPath}news-item-2.png`, alt="пекарский шкаф")
                .news-content__right-item_content
                  .news-content__right-item_content_sub
                    span.news-content__right-item_content_sub_name Hicold
                    span.news-content__right-item_content_sub_data 22.06.17
                  .news-content__right-item_content_title
                    a(href='#').title Повышение энергоэффективности туннельных посудомоечных машин МПТ торговой марки Abat 
                  .news-content__right-item_content_description
                    p C целью снижения нагрузки на электрическую сеть и для повышения энергоэффективности изделий с 1 июня 2017 года был изменен алгоритм работы туннельных посудомоечных машин МПТ торговой марки Abat всех моделей... 
              .news-content__right-item
                a(href='#')
                  img(src=`${imgPath}news-item-3.png`, alt="пекарский шкаф")
                .news-content__right-item_content
                  .news-content__right-item_content_sub
                    span.news-content__right-item_content_sub_name Hicold
                    span.news-content__right-item_content_sub_data 22.06.17
                  .news-content__right-item_content_title
                    a(href='#').title Повышение энергоэффективности туннельных посудомоечных машин МПТ торговой марки Abat 
                  .news-content__right-item_content_description
                    p C целью снижения нагрузки на электрическую сеть и для повышения энергоэффективности изделий с 1 июня 2017 года был изменен алгоритм работы туннельных посудомоечных машин МПТ торговой марки Abat всех моделей... 
          .news-button
            a(href='#').button Все новости
                    
