mixinPartners()
  .partners
    margin-top 18px
    @media $tablet
      margin-top 0
    .partners-partner__content
      height 100px;
      background #fff;
      overflow hidden;
      display flex
      @media $tablet
        height 100%
        margin 0 -21px 3px 30px 

      li
        margin-top 18px
        width 258px
        height 60px
        text-align center
        border-right 1px solid #f2f2f2;
        @media $tablet
          width 100%
        a
          font-size 18px
          img 
            height 30px
            margin-top 17px
      li.last
           margin-top 43px


mixinPartners()