mixinRecomend()
  .recomend
    margin-bottom 234px
    @media $tablet
      margin-bottom 150px
    .recomend-title
      text-align center
      > span 
          font-size 40px
        @media $tablet
          font-size 50px
      @media $tablet
        width 817px    
      &_sub
        margin auto
        width 660px
        margin-top 14px
        span 
          color #777777
          @media $tablet
            font-size 30px
    .recomend-cards
      &__top
        display flex
        margin 70px 0 9px
        width 1400px
        @media $tablet
          flex-direction column
          width 766px
          margin-left 49px
        &_item
          a
            display block
            height 484px
            @media $tablet
              margin-right -40px
          &_long
            background-color #232323
            overflow hidden
            margin-right 10px
            &_image
              width 420px
              margin 51px 0 -469px -209px
            &_content
              position relative
              bottom 129px
              left 237px 
              color $white
              &_title
                margin-bottom 20px
                font-size 20px
                @media $tablet
                  font-size 50px
              &_subtitle
                margin-bottom 30px
                font-size 30px
                @media $tablet
                  font-size 40px
              &_text
                width 50%
                color #777777
                font-size 16px
                @media $tablet
                  width 474px
                p
                  @media $tablet
                    font-size 25px  
          &_short
            background-color $white
            margin-right 10px
            height 100%
            @media $tablet
              width 95%
              margin-bottom 4px
            &_content
              padding-top 50px 
              text-align center
              @media $tablet
                padding-top 30px
              &_image
                padding-bottom 30px
                .size
                  width 246px
                  height 239px
              &_descr
                &_name
                  font-size 20px
                  text-transform uppercase
                  margin-bottom 16px
                &_category
                  font-size 30px
                  margin-bottom 34px
                &_text
                    padding 0 10px 17px 10px
                    p
                      color #777777
                      font-size 16px
                      @media $tablet
                        font-size 21px
        .long
          width 77.5%
          @media $tablet
            width 90%
            margin-bottom 4px               
      &_bottom
        display flex
        @media $tablet
          flex-direction column
          margin-left 49px
          width 100%
        &_left
          background-color $white
          width 50%
          overflow hidden
          margin-right 10px
          @media $tablet
            width 94.5%
            margin-bottom 10px
          
          &_item_content
            padding-top 30px
            text-align center
            &_name
              text-transform uppercase
              font-size 20px
              margin-bottom 20px
            &_category
              font-size 30px
              margin-bottom 36px
            &_description
              width 365px
              margin-left 112px
              margin-bottom 38px
              color #777777
              @media $tablet
                width 471px
                p
                  font-size 21px 
          &_item_image
            width 450px
            margin 0 auto -400px auto  
                
        &_right
          @media $tablet
            width 95.5%
          &_top
            display block
            background-color #232323
            overflow hidden
            width 99%
            &_image
              margin 0 0 -110px -200px
              width 400px
              position relative
              @media $tablet
                top 161px               
            &_description
              position relative
              top -200px
              left 218px
              color white
              &_name
                text-transform uppercase
                font-weight 300
                font-size 20px
                @media $tablet
                  font-size 30px
              &_category
                margin-top 10px
                font-size 30px
                width 193px
                @media $tablet
                  font-size 40px
              &_text
                width 40%
                font-size 14px
                @media $tablet
                  width 64%
                  margin-top 77px

                p
                  color #777
                  @media $tablet
                    font-size 30px
          .white
            background $white
            margin-top 10px
            height 327px
            position relative
            .recomend-cards_bottom_right_top_white_white_image
              position absolute
              right 0
            .recomend-cards_bottom_right_top_white_description
              position relative
              top 96px
              left 65px
              @media $tablet
                top 34px
              &_name
                text-transform uppercase
                font-weight 300
                font-size 20px
                @media $tablet
                  font-size 30px
              &_category
                font-size 30px
                margin 10px 0 35px 0 
              &_text
                width 40%
                font-size 14px
                width 319px
                p
                  color #777
                  font-size 16px
                  @media $tablet
                    font-size 20px

mixinRecomend()