mixin seo(data={})
  -
    const {
      imgPath = '%=static=%img/content/'
    }= data;

  section.seo
    .wrapper
      .content.seo-content
        .seo-content_left
          span Комплексные решения оснащения столовых и кафе
          p Компания предлагает комплексное оснащение столовых, ресторанов, кафе и баров в Москве. Наши услуги построены по принципу полного цикла обслуживания предприятий общепита и бизнеса HoReCa. 
          p Иными словами, мы предлагаем проектирование «под ключ» и постгарантийное обслуживание. География работы компании охватывает всю страну. 
          p При этом в каждом регионе мы готовы предложить демократичные цены на профессиональное технологическое оборудование для столовой и оптимальные решения с точки зрения эффективности бизнеса, приемлемым уровнем производительности в условиях ограниченного бюджета.
          span Что мы предлагаем
          p Разработку технологического проекта кухни и производственной линии, дизайна ресторанного интерьера; составление меню согласно концепции и оснащения бара (кафе, столовой); подбор посуды, текстиля под общий стиль; профессиональное оборудование для кафе, бара и ресторана, большой выбор современных моделей; доставку в любой регион РФ; монтажные и пуско-наладочные работы; автоматизацию производственного процесса, что позволяет определённое оборудование для бара;
          
          button.show-more +  
        .seo-content_right
          .seo-content_right_logo
            .seo-content_right_logo_img
              picture
                img(src=`${imgPath}seo-logo.png`, alt="")
            .seo-content_right_logo_title Столовая.РУ
            .seo-content_right_logo_text  Создание оптимальных пищеблоков
          .seo-content_right_company
            .seo-content_right_company_title Группа компаний
            .seo-content_right_company_text Показатели:
          .seo-content_right_info
            span На рынке: 5 лет
            span Объём контрактов: 4млрд.р.
            span Количество контактов: 620